<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>div, flex</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h3>1. 박스 생성</h3>
        <!-- <div class="box1 box-size" ></div>
        <div class="box2 box-size"></div>
        <div class="box3 box-size"></div>
        <div class="box4 box-size"></div> -->

        <h3>2.박스 2x2 배치</h3>
        <div class="display-flex">
            <div class="box1 box-size" ></div>
            <div class="box2 box-size"></div>            
            </div>
        <div class="display-flex">
            <div class="box3 box-size"></div>
            <div class="box4 box-size"></div>
        </div>

        <h3>3.박스 사이에 여백 추가</h3>
        <div class="display-flex">
                <div class="box1 box-margin" ></div>
                <div class="box2 box-margin"></div>            
        </div>
        <div class="display-flex">
                <div class="box3 box-margin"></div>
                <div class="box4 box-margin"></div>
        </div>

        <h3>4. 여백추가 및 중앙 정렬</h3>
        <div class="box-center">
                <div class="box1 box-margin" ></div>
                <div class="box2 box-margin"></div>            
        </div>
        <div class="box-center">
                <div class="box3 box-margin"></div>
                <div class="box4 box-margin"></div>
        </div>    
          
    </body>
</html>
